.icon-row {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-bottom: 30px;
  margin-top: 20px;
}

.icon-row__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgba(0, 0, 0, 0.8);
  margin-bottom: 50px;
  width: 25%;
}

.icon-row__icon i {
  font-size: 40px;
}

.icon-row__icon span {
  margin-top: 18px;
}

.icon-row__icon i {
  position: relative;
}

.icon-row__notification {
  display: flex;
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 3px;
  background-color: tomato;
  top: -30px;
  right: -10px;
}
